/*Form7View page*/
html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.form7-view-page {
  background-color: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 80%;
}

.form7-view-container {
  font-family: Arial, sans-serif;
}

p {
  margin: 10px 0;
  font-size: 1rem;
}
