@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

/* src/Home.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body can take up full height */
  width: 100%;
  overflow-x: hidden;
}

.home-container {
  min-height: 100vh;
  background-image: url("../assets/home-page.png"); /* Updated path for public folder */
  background-size: cover; /* Ensure the background covers the entire container */
  background-position: center; /* Align the background to the center */
  background-repeat: no-repeat; /* Do not repeat the image */
  overflow-y: auto; /* Allow vertical scrolling */
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure the Submit Button can be positioned within this container */
  width: 100%; /* Ensure the container width is 100% of the viewport */
  height: 100%;
  overflow-x: hidden;
}

/* Ensure scroll is working */
.home-container::after {
  content: "";
  display: block;
  height: 720px; /* Make the container tall enough to ensure scrolling */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the top */
  align-items: flex-start; /* Keep alignment to the left */
  flex-grow: 1;
  gap: 20px; /* Add space between sections */
  margin-top: 170px; /* Move the content down */
  margin-left: 50px; /* Move the content to the right */
}

.title-container {
  display: flex;
  align-items: flex-start;
  gap: 5px; /* Space between logo and title */
  width: 100%;
}

.home-logo {
  width: 195px; /* Logo width */
  height: 220px; /* Logo height */
  margin-left: 30px;
  margin-top: -20px;
}

.text-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column; /* Stack title and subtitle vertically */
  align-items: flex-start; /* Align title and subtitle to the left */
  padding: 0;
  margin-left: -10px;
}

.text-container h1 {
  margin: 0 0 -10px -3px;
  font-size: 80px;
  line-height: 1.2;
}

.text-container h1 .resolv {
  color: #ffffff; /* White */
}

.text-container h1 .it {
  color: #0099cb; /* Blue */
}

.text-container h1,
.text-container h2 {
  font-family: "Inria Sans", sans-serif;
}

.text-address h2 {
  text-align: left;
  padding: 0;
  margin: 0 0 0 0;
  color: #ffffff;
  font-size: 26px;
  margin-left: 3px;
  line-height: 1.2;
}

.button-container {
  display: flex;
  flex-direction: row; /* Arrange buttons in a row */
  gap: 15px; /* Add space between buttons */
  margin-top: -23px; /* Space below h2 */
  justify-content: flex-start; /* Align buttons to the left */
  margin-left: 213px; /* Match the margin-left of h2 for proper alignment */
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 180px; /* Ensure buttons have the same width */
  text-align: center;
}

/* Submit Blotter Button */
.home-container button:first-child {
  color: #ffffff; /* White text */
  background-color: #0099cc; /* Blue background */
  border: none; /* No border */
  font-weight: 700;
}

/* Dashboard Button */
.button-container button:last-child {
  color: #0099cc; /* Blue text */
  background-color: transparent; /* Transparent background */
  border: 2px solid #0099cc; /* Blue border */
  font-weight: 700;
}

button:hover {
  opacity: 0.9; /* Slightly darken on hover */
}

.background-design {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
