html,
body {
  height: 100%; /* Ensures the full height of the viewport */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.outer-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/background.png");
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: #ffffff; /* Slight transparency for readability */
  border-radius: 36px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  margin-right: 10px;
}

.title {
  color: #003366;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.text-highlight {
  color: #0099cc;
}

.heading {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #003366;
}

.sub-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  color: #003366;
  font-weight: bold;
  text-align: left;
}

.input {
  width: 90%;
  padding: 3px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.button {
  width: 80%;
  padding: 10px;
  background-color: #003366;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  margin-top: 5px;
}

.error-text {
  font-size: 12px;
  color: red;
  margin-top: 4px; /* Adds spacing between input and error */
  display: block; /* Ensures the error text spans the full width */
}

.login-error {
  font-size: 14px;
  color: red; /* Makes the text red */
  font-weight: bold; /* Optional: emphasize the error message */
  margin-bottom: 15px; /* Adds spacing between the error and the form */
  display: block; /* Ensures it spans the full width */
}
.signup-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signup-link {
  color: #007bff; /* Adjust to your theme's color */
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
